@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
body {
  font-size: 15px;
  margin: 0;
  font-family: 'Poppins';
  box-sizing: border-box; }

footer {
  margin-top: 50px; }
